<li class='item skill skill-card' data-item-id='{{id}}'>
  <header class='card-header flexrow' data-item-id='{{id}}'>
    <img class='skill-icon' src='{{img}}' />
    <button type='button' class='skill-name item-name'>
      {{#if isCoreSkill}}★ {{/if}}{{label}}
      {{#if attribute}}
        ({{localizeSkillAttribute attribute @root.useAttributeShorts}})
      {{/if}}
    </button>
    <button type='button' class='skill-die rollable' data-tooltip='{{tooltip}}'>
      <img
        class='skill-die-icon'
        src='systems/swade/assets/official/dice/d{{die}}.svg'
        alt='d{{die}}{{modifier this.modifier}}'
      />
      <span class='skill-die-modifier'>{{signedString this.modifier}}</span>
    </button>
    <div class='item-controls'>
      {{#if isOwner}}
        <button
          type='button'
          class='item-control item-edit'
          title='{{localize "SWADE.Ed"}} {{label}}'
        >
          <i class='fas fa-edit'></i>
        </button>
      {{/if}}
    </div>
  </header>
  <div class='card-content' style='display: none;'>
    {{#if description}} {{enrich description}} {{else}}
      <div class='swade-core'><p>No description available</p></div>
    {{/if}}
  </div>
</li>