<section class='toc'>
  <h1 class='header title top-row'>{{header}}</h1>
  <div class='header search top-row'>
    <input
      type='search'
      name='search'
      placeholder='{{localize "Search"}}'
      autocomplete='off'
    />
  </div>
  <div class='disclaimer'>{{disclaimer}}</div>
  <section class='content'>
    {{#if isJournal}}
      {{#each entries}}
        <section class='journal' data-document-id='{{id}}'>
          <header data-document-id='{{id}}'>
            <h3 class='journal-heading'><a>{{name}}</a></h3>
          </header>
          <ol class='unmarked-list pages'>
            {{#each pages}}
              <li class='page' data-page-id='{{id}}'>
                <a class='name'>{{name}}</a>
              </li>
            {{/each}}
          </ol>
        </section>
      {{/each}}
    {{else}}
      {{#each categories}}
        <section class='category'>
          {{#if category}}<h2 class='category-header'>{{category}}</h2>{{/if}}
          <ol class='categories unmarked-list'>
            {{#each entries}}
              <li class='toc-entry flexrow' data-document-id='{{id}}'>
                <img
                  class='thumbnail'
                  src='{{img}}'
                  alt='{{name}}'
                  loading='lazy'
                />
                {{#if isWildcard}}
                  <img
                    class='wildcard'
                    src='{{@root.wildCardMarker}}'
                    alt='{{localize "SWADE.WildCard"}}'
                  />
                {{/if}}
                <a class='name'>{{name}}</a>
              </li>
            {{/each}}
          </ol>
          {{#each groups}}
            {{#if group}}<h3 class='group-header'>{{group}}</h3>{{/if}}
            <ol class='categories unmarked-list'>
              {{#each entries}}
                <li class='toc-entry flexrow' data-document-id='{{id}}'>
                  <img
                    class='thumbnail'
                    src='{{img}}'
                    alt='{{name}}'
                    loading='lazy'
                  />
                  <a class='name'>{{name}}</a>
                </li>
              {{/each}}
            </ol>
          {{/each}}
        </section>
      {{/each}}
    {{/if}}
  </section>
</section>