<div class="form-group">
  <label>{{localize "SWADE.BonusDamage"}}</label>
  <span class="form-fields">
    <input type="number" name="system.bonusDamageDice" min="1" max="10" value="{{item.system.bonusDamageDice}}" data-dtype="Number">
    <select name="system.bonusDamageDie" data-dtype="Number">
      {{#select item.system.bonusDamageDie}}
        {{> "systems/swade/templates/die-sides-options.hbs"}}
      {{/select}}
    </select>
  </span>
</div>