{{! This is a basic template for the chat item cards. 
It renders everything, even sections that are not needed to be seen by a given player. 
Unneeded sections are later hidden in the a renderChatMessage hook }}
<div
  class='swade chat-card item-card'
  data-actor-id='{{actorId}}'
  data-item-id='{{item.id}}'
  data-token-id='{{tokenId}}'
>
  <header class='card-header flexrow'>
    <img src='{{item.img}}' title='{{item.name}}' width='36' height='36' />
    <h3 class='item-name'><a>{{item.name}}</a></h3>
  </header>

  <!-- Ammo Management -->
  {{#if hasAmmoManagement}}
    <div class='ammo-counter'>
      <i class='fas fa-dot-circle'></i>
      {{localize 'SWADE.Mag'}}:
      <span class='shots'>
        <span class='current-shots'>{{item.system.currentShots}}</span>
        &nbsp;/&nbsp;
        <span class='max-shots'>{{item.system.shots}}</span>
      </span>
      {{#if item.system.ammo}}
        <span class='ammo-name'>
          {{#if hasMagazine}}
            <u class='magazine'>{{item.system.ammo}}</u>
          {{else}}
            {{item.system.ammo}}
          {{/if}}
        </span>
      {{/if}}
    </div>
  {{/if}}

  <!-- PP Display -->
  {{#if (eq item.type 'power')}}
    {{#unless settingRules.noPowerPoints}}
      <div class='pp-counter'>
        {{#if item.system.arcane}}
          {{item.system.arcane}}
        {{/if}}
        {{localize 'SWADE.PP'}}:
        <span class='current-pp'>{{powerPoints.value}}</span>
        &nbsp;/&nbsp;
        <span class='max-pp'>{{powerPoints.max}}</span>
      </div>
    {{/unless}}
  {{/if}}

  {{#if item.isArcaneDevice}}
    <div class='pp-counter'>
      {{localize 'SWADE.ArcaneDevice'}}
      {{localize 'SWADE.PP'}}:
      <span class='current-pp'>{{powerPoints.value}}</span>
      &nbsp;/&nbsp;
      <span class='max-pp'>{{powerPoints.max}}</span>
    </div>
  {{/if}}

  <!-- Charge Display -->
  {{#if (eq item.type 'consumable')}}
    <div class='pp-counter'>
      {{localize 'SWADE.Charges'}}:
      <span class='current-pp'>{{item.system.charges.value}}</span>
      &nbsp;/&nbsp;
      <span class='max-pp'>{{item.system.charges.max}}</span>
    </div>
  {{/if}}

  <!-- Description -->
  <div class='card-content' style='display: none'>{{{data.description}}}</div>

  <!-- Reload Button -->
  {{#if hasReloadButton}}
    <div class='card-buttons reload-controls'>
      <button data-action='reload'>{{localize 'SWADE.Reload'}}</button>
    </div>
  {{/if}}

  <!-- Normal Trait Rolls -->
  {{#if (or showTraitRolls item.isArcaneDevice)}}
    <div class='card-buttons trait-rolls'>
      <h4 class='actions-subheading'>
        <i class='fa-solid fa-crosshairs'></i>
        {{localize 'SWADE.TraitRolls'}}
      </h4>

      {{#if hasTraitRoll}}
        <button data-action='formula'>{{trait}}</button>
      {{/if}}

      {{#each data.actions}}
        {{#if (eq type 'skill')}}
          <button data-action='{{key}}' data-type='{{type}}'>{{name}}</button>
        {{/if}}
      {{/each}}

      <!-- Arcane Skill Roll (Artificer's) -->
      {{#if item.isArcaneDevice}}
        <button data-action='arcane-device'>
          {{localize 'SWADE.ActivateArcaneDevice'}}
        </button>
      {{/if}}
    </div>
  {{/if}}

  {{#if hasResistRoll}}
    <div class='card-buttons resist-rolls'>
      <h4 class='actions-subheading'>
        <i class='fa-solid fa-ban'></i>
        {{localize 'SWADE.ResistRolls'}}
      </h4>

      {{#each data.actions}}
        {{#if (eq type 'resist')}}
          <button data-action='{{key}}' data-type='{{type}}'>{{name}}</button>
        {{/if}}
      {{/each}}

    </div>
  {{/if}}

  <!-- Damage Rolls -->
  {{#if showDamageRolls}}
    <div class='card-buttons damage-rolls'>
      <h4 class='actions-subheading'>
        <i class='fas fa-tint'></i>
        {{localize 'SWADE.DmgRolls'}}
      </h4>

      {{#if hasDamage}}
        <button data-action='damage'>{{item.system.damage}}</button>
      {{/if}}
      {{#each data.actions}}
        {{#if (eq type 'damage')}}
          <button data-action='{{key}}'>{{name}}</button>
        {{/if}}
      {{/each}}
    </div>
  {{/if}}

  <!-- Template Controls -->
  {{#if hasTemplates}}
    <div class='card-buttons template-controls'>
      <h4 class='actions-subheading'>
        <i class='fas fa-bullseye'></i>
        {{localize 'SWADE.Templates.Available'}}
      </h4>
      <span class='flexrow'>
        {{#if item.system.templates.cone}}
          <button
            type='button'
            data-action='template'
            data-template='swcone'
          >{{localize 'SWADE.Templates.Cone.Short'}}</button>
        {{/if}}
        {{#if item.system.templates.stream}}
          <button
            type='button'
            data-action='template'
            data-template='stream'
          >{{localize 'SWADE.Templates.Stream.Short'}}</button>
        {{/if}}
        {{#if item.system.templates.small}}
          <button
            type='button'
            data-action='template'
            data-template='sbt'
          >{{localize 'SWADE.Templates.Small.Short'}}</button>
        {{/if}}
        {{#if item.system.templates.medium}}
          <button
            type='button'
            data-action='template'
            data-template='mbt'
          >{{localize 'SWADE.Templates.Medium.Short'}}</button>
        {{/if}}
        {{#if item.system.templates.large}}
          <button
            type='button'
            data-action='template'
            data-template='lbt'
          >{{localize 'SWADE.Templates.Large.Short'}}</button>
        {{/if}}
      </span>
    </div>
  {{/if}}

  <!-- Power Controls -->
  {{#if (eq item.type 'power')}}
    <div class='card-buttons pp-controls'>
      <span class='flexcol'>
        <span class='flexrow'>
          <label>
            <strong>{{localize 'SWADE.PPCost'}}: </strong>
          </label>
          <input
            type='number'
            class='pp-adjust'
            data-dtype='Number'
            value='{{item.system.pp}}'
          />
        </span>

        {{#unless settingRules.noPowerPoints}}
          <span class='flexrow'>
            <button
              class='card-button'
              data-action='pp-adjust'
              data-adjust='plus'
              title='{{localize "SWADE.AddPPDesc"}}'
            >
              &plus;
              {{localize 'SWADE.Add'}}
            </button>
            <button
              class='card-button'
              data-action='pp-adjust'
              data-adjust='minus'
              title='{{localize "SWADE.SubtractPPDesc"}}'
            >
              &minus;
              {{localize 'SWADE.Subtract'}}
            </button>
            <button
              data-action='pp-adjust'
              data-adjust='refresh'
              title='{{localize "SWADE.Refresh"}}'
            >
              <i class='fas fa-sync'></i>
            </button>
          </span>
        {{/unless}}

      </span>
    </div>
  {{/if}}

  <!-- Arcane Device Controls -->
  {{#if item.isArcaneDevice}}
    <div class='card-buttons arcane-device-controls'>
      <span class='flexcol'>
        <span class='flexrow' style='display: flex'>
          <label>
            <strong>{{localize 'SWADE.PPCost'}}: </strong>
          </label>
          <input
            type='number'
            class='arcane-device-pp-adjust'
            data-dtype='Number'
            value='1'
          />
        </span>

        {{#unless settingRules.noPowerPoints}}
          <span class='flexrow' style='display: flex'>
            <button
              class='card-button'
              data-action='arcane-device-pp-adjust'
              data-adjust='plus'
              title='{{localize "SWADE.AddPPDesc"}}'
            >
              &plus;
              {{localize 'SWADE.Add'}}
            </button>
            <button
              class='card-button'
              data-action='arcane-device-pp-adjust'
              data-adjust='minus'
              title='{{localize "SWADE.SubtractPPDesc"}}'
            >
              &minus;
              {{localize 'SWADE.Subtract'}}
            </button>
            <button
              data-action='arcane-device-pp-adjust'
              data-adjust='refresh'
              title='{{localize "SWADE.Refresh"}}'
            >
              <i class='fas fa-sync'></i>
            </button>
          </span>
        {{/unless}}
      </span>
    </div>
  {{/if}}

  {{#if (eq item.type 'consumable')}}
    <div class='card-buttons'>
      <span style='display: flex'>
        <button data-action='consume'>
          {{localize 'SWADE.Consumable.Use'}}
        </button>
        <button
          data-action='pp-adjust'
          data-adjust='refresh'
          title='{{localize "SWADE.Refresh"}}'
        >
          <i class='fas fa-sync'></i>
        </button>
      </span>
    </div>
  {{/if}}

  <footer class='card-footer'>
    {{#each data.chips}}
      <span title='{{title}}'>{{{icon}}} {{{text}}}</span>
    {{/each}}
  </footer>
</div>