<header class='header'>
    <button type='menu' class='add-effect add-button invisible'>
      <i class='fa-solid fa-plus'></i>{{localize 'SWADE.ActiveEffects.Add'}}
    </button>
</header>
<ol class='effect-list unmarked-list'>
  {{#each item.effects}}
    <li data-effect-id='{{id}}'>
      <img class='effect-icon' src='{{icon}}' />
      {{#if disabled}}
        <span class='effect-label effect-disabled'>
          {{name}}
        </span>
      {{else}}
        <span class='effect-label'>
          {{name}}
        </span>
      {{/if}}
      <span class='effect-controls'>
          <button
            type='button'
            class='effect-action invisible'
            data-action='toggle'
            data-toggle='disabled'
          >
            <i class='fas fa-power-off'></i>
          </button>
          <button 
            type="button" 
            class="effect-action {{#unless flags.swade.favorite}}item-unequipped{{/unless}}" 
            data-action="toggle"
            data-toggle="flags.swade.favorite"
            title="{{localize "SWADE.Favorite"}}"
          >
            <i class="fas fa-star"></i>
          </button>
          <button
            type='button'
            class='effect-action invisible'
            data-action='edit'
          >
            <i class='fas fa-edit'></i>
          </button>
          <button
            type='button'
            class='effect-action invisible'
            data-action='delete'
          >
            <i class='fas fa-trash'></i>
          </button>
      </span>
    </li>
  {{/each}}
</ol>