<section class='driver-box'>
  <div class='driver-title'>
    <strong>{{localize 'SWADE.Operator'}}</strong>
    <a class='reset-driver'><i class='fas fa-trash'></i></a>
  </div>
  <div id='driverImageContainer'>
    <img src='{{driver.img}}' alt='{{driver.name}}' class='driver-img' />
  </div>
</section>
<section class='vitals flexrow'>
  <div class='vitals-container'>
    <div class='flexcol'>
      <div class='vital-name'>{{localize 'SWADE.Wounds'}}</div>
      <span class='flexrow'>
        <input
          type='number'
          value='{{actor.system.wounds.value}}'
          name='system.wounds.value'
          data-dtype='Number'
          class='wound-input'
          maxlength='4'
          size='4'
          class='vitals-value'
        />
        <span class='seperator'>/</span>
        <input
          type='number'
          value='{{actor.system.wounds.max}}'
          name='system.wounds.max'
          data-dtype='Number'
          class='wound-input'
          maxlength='4'
          size='4'
          class='vitals-value'
          disabled
        />
      </span>
    </div>
    <button type='button' id='maneuverCheck'>
      {{localize 'SWADE.ManCheck'}}
    </button>
    {{#if settingrules.modSlots}}
      <div id='modBox'>
        <div class='bar-container'>
          <span class='text'>{{mods.used}}/{{actor.system.maxMods}}
            {{localize 'SWADE.Mods'}}</span>
          <div class='bar' style='width: {{mods.percentage}}%;'></div>
        </div>
      </div>
    {{/if}}
  </div>
</section>
<section id='crew'>
  <label>{{localize 'SWADE.Crew'}}</label>
  <div class='crew-input'>
    <input
      type='text'
      value='{{actor.system.crew.required.value}}'
      data-dtype='Number'
      name='system.crew.required.value'
    />
    <span>/</span>
    <input
      type='text'
      value='{{actor.system.crew.required.max}}'
      data-dtype='Number'
      name='system.crew.required.max'
    />
  </div>
  <label>{{localize 'SWADE.Passengers'}}</label>
  <div class='crew-input'>
    <input
      type='text'
      value='{{actor.system.crew.optional.value}}'
      data-dtype='Number'
      name='system.crew.optional.value'
    />
    <span>/</span>
    <input
      type='text'
      value='{{actor.system.crew.optional.max}}'
      data-dtype='Number'
      name='system.crew.optional.max'
    />
  </div>
</section>